
<div data-chance="1" data-id="{{ d.slider_id }}" data-rand="{{ d.rand }}"
     class="splide {% if d.loadMore %}more-splide more-splide{% else %}splide{% endif %}{{ d.rand }}">
    <div class="splide__arrows">
        <button class="splide__arrow splide__arrow--prev">
            <i class="bi bi-chevron-left"></i>
        </button>
        <button class="splide__arrow splide__arrow--next">
            <i class="bi bi-chevron-right"></i>
        </button>
    </div>
    <div class="splide__track">
        <div class="splide__list {% if d.post.gallery_image_option == 2 %}light-box-controls{% endif %}">
            {{ include('splide/splide-img-template-1.twig') }}
        </div>
    </div>
</div>