$blue: #4267B2;
$wp-blue: #2271b1;
$wp-blue-hover:#1a5483;
$bg-gray: #f5f5f5;
$btnBack:#6b7072;
$hupa-color: #6b7072;
$cardBgColor: #6b7072;
$tooltip-bg: #eba200;
$yellowActive:#ffbf31;
$yellow:#ffbf31;
$yellowLight:#ffc951;
$alertRed:#d73814;
$success:#3ccb3c;